<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <title>home page</title>
</head>

<body>
    <img src="p1.jpg" />
    <h1>
        <a href="/newTask">Add new Task</a>
        <br>
        <a href="/getAllTasks">List All Tasks</a>
        <br>
        <a href="/deleteTask">delete Task by id</a>
        <br>
        <a href="/deleteComplete">delete complete</a>
        <br>
        <a href="/updateStatus">update status</a>
        <br>
        <a href="/findNotTomorrow">find not tomorrow</a>

    </h1>
</body>

</html>