<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update task</title>
</head>

<body>
    <form action="/update" method="POST">
        Task id:<input type="text" name="taskId">
        <br>
        Task status: Complete <input type="radio" name="taskStatus" value="Complete" checked/>
        InProgress <input type="radio" name="taskStatus" value="InProgress"  /><br />
        <button>update</button>
    </form>
</body>

</html>